@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
	
	
#wrapper {
	border: 1px solid #FFBB00;
	width: 85%;
	padding: 10px;
	position: border;
	top: 10px;
	left: 50%;
	margin-left: -533px;
	overflow: hidden;
}

#contents {
	border: 1px solid #487BE1;
	width: 800px;
	float: right;
	padding: 10px;
}

#sidebar {
	border: 1px solid #487BE1;
	width: 200px;
	float: left;
	padding: 10px;
	margin-left: 10px;
}

#wrap {
	width: 100%;
}

#b {
	height: 100%;
	width: 200px;
	float: left;
}

#c {
	width: 100%;
}

#cssmenu {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	text-align: left;
}

#cssmenu>ul {
	width: auto;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background: #ffffff;
	border: 1px solid #ece6e8;
	border-bottom: 3px solid #d9ced2;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

#cssmenu>ul li#responsive-tab {
	display: none;
	/* Hide for large screens */
}

#cssmenu>ul li {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

#cssmenu>ul li.right {
	float: right;
}

#cssmenu>ul li.has-sub {
	position: relative;
}

#cssmenu>ul li.has-sub:hover ul {
	display: block;
}

#cssmenu>ul li.has-sub ul {
	display: none;
	width: 250px;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #ffffff;
	border: 1px solid #ece6e8;
	border-bottom: 3px solid #d9ced2;
	border-top: 0 none;
}

#cssmenu>ul li.has-sub ul li {
	display: block;
}

#cssmenu>ul li.has-sub>a {
	background-image: url('images/caret.png');
	background-repeat: no-repeat;
	background-position: 90% -95%;
}

#cssmenu>ul li.has-sub>a.active,#cssmenu>ul li.has-sub>a:hover {
	background: #d80041 url('images/caret.png') no-repeat;
	background-position: 90% 195%;
}

#cssmenu>ul li a {
	display: block;
	padding: 12px 24px 11px 24px;
	text-decoration: none;
	color: #747474;
	text-shadow: 0px 1px 0px #fff;
}

#cssmenu>ul li a.active,#cssmenu>ul li a:hover {
	background: #d80041;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
}

@media ( max-width : 600px) {
	#cssmenu>ul {
		width: 100%;
	}
	#cssmenu>ul li#responsive-tab {
		display: block;
	}
	#cssmenu>ul li#responsive-tab a {
		background: url('images/menu.png') no-repeat;
		background-position: 95% -35%;
	}
	#cssmenu>ul li#responsive-tab a:hover {
		background-color: #d80041;
		background-position: 95% 135%;
	}
	#cssmenu>ul li {
		display: none;
	}
	#cssmenu>ul li.right {
		float: none;
	}
	#cssmenu>ul li.has-sub {
		position: relative;
	}
	#cssmenu>ul li.has-sub ul {
		display: block;
		position: static;
		width: 100%;
		background: #ffffff;
		border: 0 none;
	}
	#cssmenu>ul li.has-sub ul li {
		display: block !important;
	}
	#cssmenu>ul li.has-sub ul li a span {
		display: block;
		padding-left: 24px;
	}
	#cssmenu>ul li.has-sub>a {
		background-image: none;
	}
}



/* Make sure they show even if hidden in mobile view by JS */
@media ( min-width : 600px) {
	#cssmenu>ul>li.collapsed {
		display: inline-block !important;
		*display: inline;
		zoom: 1;
	}
	#cssmenu>ul ul li.collapsed {
		display: block !important;
	}
}









#img{
 width:100%;
 height:100%;
 border:1px solid #ff0000; 
}
/* 브라우저 가로길이가 1024px 이상일 경우 */
@media all and (min-width:1024px){
 /* main */
#main{
  /* 가운데 정렬
     html5에서는 center 가 없어지고 margin을 줘야 함
  */
  margin:auto;
  width:1024px;
  /* 내부 div 태그들의 좌표 기준으로 설정 */
  position:relative;
 }
 /* banner*/
#banner{
  width:100%;
  height:150px;
  /* 자유롭게 배치하도록 설정*/
  position:absolute;
  /* 좌표 설정 */
  /* 위에서 10px 만큼 떨어진 위치에 위치*/
  top:10px;
 }
#title{
  width:100%;
  height:150px;
  position:absolute;
  top:170px;
 }
#menu{
  position:absolute;
  top:330px;
  width:30%;
  height:916px;
 }
#article1{
  position:absolute;
  top:330px;
  left:310px;
  width:70%;
  height:297px;
 }
#article2{
  position:absolute;
  top:640px;
  left:310px;
  width:70%;
  height:297px;
 }
#article3{
  position:absolute;
  top:950px;
  left:310px;
  width:70%;
  height:297px;
 }
#footer{
  position:absolute;
  top:1260px;
  width:100%;
  height:150px;
 }
}
/* 브라우저 가로길이가 1024px 이하인 경우 */
@media all and (max-width:1024px){
 /* main */
#main{
  /* 가운데 정렬
     html5에서는 center 가 없어지고 margin을 줘야 함
  */
  margin:auto;
  width:640px;
  /* 내부 div 태그들의 좌표 기준으로 설정 */
  position:relative;
 }
 /* banner*/
#banner{
  width:100%;
  height:150px;
  /* 자유롭게 배치하도록 설정*/
  position:absolute;
  /* 좌표 설정 */
  /* 위에서 10px 만큼 떨어진 위치에 위치*/
  top:10px;
 }
#title{
  width:100%;
  height:150px;
  position:absolute;
  top:170px;
 }
#menu{
  position:absolute;
  top:330px;
  width:100%;
  height:150px;
 }
#article1{
  position:absolute;
  top:490px;
  width:100%;
  height:297px;
 }
#article2{
  position:absolute;
  top:800px;
  width:100%;
  height:297px;
 }
#article3{
  position:absolute;
  top:1110px;
  width:100%;
  height:297px;
 }
#footer{
  position:absolute;
  top:1420px;
  width:100%;
  height:150px;
 }
}

